<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">PelisApp.</h1>
        <p class="lead">Esta es una aplición de películas.</p>
    </div>
</div>

<!-- ------------ -->
<div class="container">
    <br>

    <h1 class="animated fadeIn"> Películas en las cartelara de un cine actual.</h1>

    <hr>

    <div class="row" *ngIf="cartelera">
        <div class="col-sm-6">



            <div class="row">
                <div class="col-md-12 div-pic-1" [ngStyle]="{ 'background-image': 'url( ' + ( cartelera[0] |  PeluculaImagen ) +')'}">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 div-pic-2" [ngStyle]="{ 'background-image': 'url(http://image.tmdb.org/t/p/w500/npQVcL0wrombgONOdf3hWKsLNEz.jpg)'}">
                    <div class="col-sm-6 div-pic-2" [ngStyle]="{ 'background-image': 'url(http://image.tmdb.org/t/p/w500/npQVcL0wrombgONOdf3hWKsLNEz.jpg)'}">
                    </div>
                </div>
                <div class="col-sm-6 div-pic-2" [ngStyle]="{ 'background-image': 'url(http://image.tmdb.org/t/p/w500/dHFqNMHd3A5eeg0yjlMrtHiaXOV.jpg)'}">
                </div>


            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-6 div-pic-2" [ngStyle]="{ 'background-image': 'url(http://image.tmdb.org/t/p/w500/npQVcL0wrombgONOdf3hWKsLNEz.jpg)'}">
                    <div class="col-sm-6 div-pic-2" [ngStyle]="{ 'background-image': 'url(http://image.tmdb.org/t/p/w500/npQVcL0wrombgONOdf3hWKsLNEz.jpg)'}">
                    </div>
                </div>
                <div class="col-sm-6 div-pic-2" [ngStyle]="{ 'background-image': 'url(http://image.tmdb.org/t/p/w500/dHFqNMHd3A5eeg0yjlMrtHiaXOV.jpg)'}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 div-pic-1" [ngStyle]="{ 'background-image': 'url(http://image.tmdb.org/t/p/w500/gUurlaJpyQLAgpkNTBKwJhNFWs.jpg)'}">
                </div>
            </div>
        </div>
    </div>
    <h1 class="animated fadeIn"> Peliculas populares.</h1>

    <hr>




    <h1 class="animated fadeIn "> Peliculas para niños mas populares.</h1>

    <hr>